<p>book-detail works!</p>

<div *ngIf="book">

  <h2>{{book.isbn}} Details</h2>
  <h2>{{book.title}} Details</h2>
  <h2>{{book.author}} Details</h2>
  <h2>{{book.genre}} Details</h2>
  <h2>{{book.coverUrl}} Details</h2>
  <div><span>id: </span>{{book.isbn}}</div>
  <div><span>id: </span>{{book.title}}</div>
  <div><span>id: </span>{{book.author}}</div>
  <div><span>id: </span>{{book.genre}}</div>
  <div><span>id: </span>{{book.coverUrl}}</div>

  <!-- <div>
    <label>name:
      <input [(ngModel)]="book.name" placeholder="name"/>
    </label>
  </div> -->

</div>



